audio {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0em;
  word-break: break-word;
  font-family: Monospace;
  overflow: hidden;
  background: rgb(43, 42, 42);;
}

div#container {
  margin: 0 auto 0 auto;
  max-width: 40em;
  padding: 0em 1.5em 1.3em 1.5em;
}

video {
  background: #222;
  width: 100%;
}

.htext {
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  position: relative;
  top: 24px;
  left: 10px;
  font-size: 0.9em;
  z-index: 10;
}

.userPlaceholder {
  width: 150px;
  height: 140px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  background: #8e8effa1;
  font-size: 8em;
  padding-top: 10px;
  color: #1a1a1a;
  text-align: center;
  position: relative;
  top: 25%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul>li {
  display: inline-block;
  margin: 0px;
  padding: 0;
}

.callBtn {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 45px;
  cursor: pointer;
}

.callBtn:hover {
  background: #ababad40;
}

#cancelCallBtn {
  color: #710000;
}

.fa-microphone-alt {
  color: #044e04;
}

div.screenshare-select-dialog-backdrop {
  position: absolute;
  z-index:100;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
}

div.screenshare-select-dialog {
  background-color: darkslategray;
  border-radius: 7px;
  padding: 5pt;
  margin: auto;
  width: 50%;
}

div.screenshare-options {
  display: flex;
  flex-wrap: wrap;
}

div.screenshare-option {
  margin: 4px;
  padding:2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid transparent;
  max-width: 100px;
}

div.screenshare-option:hover {
  border: 1px solid grey;
}

div.screenshare-option > img.thumbnail {
  width: 100%;
  max-width: 90px;
  max-height: 90px;
}

#chatDiv {
  width: 250px;
  height: 330px;
  position: absolute;
  right: 20px;
  bottom: 130px;
  border-radius: 7px;
  background: #7b79798c;
  border: 1px solid #80808087;
  color: #c7c6c6;
  display: none;
}

#chatInputText {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #0000ff00;
  border: 0px;
  border-top: 1px solid #8080804f;
  outline: none;
  color: #bbb;
  padding: 5px;
  padding-right: 30px;
}

#chatSendBtn {
  font-size: 1em;
  position: absolute;
  bottom: 5px;
  right: 7px;
  color: #c1bebe;
  width: 20px;
  height: 17px;
  cursor: pointer;
}

#chatText {
  height: 303px;
  overflow-y: auto;
  padding-left: 3px;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/* TV EFFECT */


div#topDiv{
  width:100%;
  height:0%;
  opacity:0.9;
  background:black;
  position:absolute;
  top: 0%;
}
div#bottomDiv{
  width:100%;
  height:0%;
  opacity:0.9;
  background:black;
  position:absolute;
  bottom: 0%;
}
div#centerDiv{
  position:absolute;
  height: 1px;
  top: 50%;
  width:100%;
  background: white;
  display:none;
  z-index:1;
}
